@import url('https://fonts.googleapis.com/css?family=Spectral:400,400i,600,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

/*CSS VARIABLES*/
:root {
/*COLOURS*/
--fore: #000066;
--comp-fore: #45427C; /*this is supposed to be a .7 transparency of fore but the rgba wasn't working and I don't know how to show it w/ hex*/
--mid: #085fa6;
--back:#e6fafc;
--text: #0e0918;
--accent:#d809a6;

/*FONTS*/
--serif:'Spectral', garamond, serif;
--sans:'Roboto', helvetica, sans-serif;
}

body {
  background-color: var(--back);
  color: var(--text);
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-family: var(--sans);
  line-height: 1.5em;
  text-align: justify;
}

/*******************************
TYPE DEFINITIONS
*******************************/
h1, h2, h3, h4, h5, h6 {
  font-family: var(--serif);
  margin: 1rem 0;
  padding-bottom: none;
}

h2, h3, h4, h5, h6 {
  padding-top: 1em;
}

h4, h5, h6 {
  font-weight: 700;
  font-style: italic;
  font-size: 1.2em;
}

h1, h4 {color: var(--fore);}
h2, h5 {color: var(--comp-fore);}
h3, h6 {color: var(--mid);}
  

h1 {
  font-weight: 700;
  color: var(--fore);
  font-size: 2em;
  padding-top: 1em;
  margin-left: none;
}

h2 {
  font-weight: 600;
  color: var(--comp-fore);
  font-size: 1.8em;
}

h3 {
  font-weight: 400;
  color: var(--mid);
  font-size: 1.5em;
}

p {
  margin: 1em 0;
}

img {
  display: block;
  margin: 0 auto;
}

figcaption { /*Don't know how to move this over*/
  display: block;
  margin: 0 auto;
}

ol > li {
  margin-left: 2em;
}

a {
  text-decoration: none;
}

p a {
  color: var(--accent);
}
strong {
  font-weight: 500;
  letter-spacing: .1em;
}

em {
  font-style: italic;
}
figcaption {
font-family: var(--serif);
}

blockquote {
  font-style: italic; 
  max-width: 80%;
  text-align: justify;
  margin: 0 auto;
}
blockquote > cite {
font-family: var(--serif);
font-style: italic;
}

/*******************************
GENERIC CLASSES
*******************************/

.container-topbar .container-bottombar{
  max-width: 100%;
}

.container-main{
  max-width: 800px;
  margin: auto;
}

.container-topbar {
  max-width: 100%
}
.container-topbar li {
  display: inline-block;
  padding-left: 1.5em;
  padding-right: 1.5em;
  max-width: 100%;
  text-align: center; 
}
.container-topbar a {
  color: var(--back);
}
.container-topbar a:hover {
  background-color: var(--mid);
  text-align: center;
}

.in-the-corner {
  display: inline-block;
}
.inline-icons li {
  display: inline;
}


/*Footer*/
.container-bottombar {
  padding-left: 1em;
  padding-top: 1em;
}
.container-bottombar li {
text-decoration: none;
padding: .5em;
}
.container-bottombar a {
  color: var(--back);
}
.container-bottombar a:hover {
  color: var(--mid);
}


.subscribe {
  display: inline-block;
  padding-left: 1.5em;
  padding-top: 1em;
}
.subscribe label {
  color: var(--back);
}

.footer-icons li {
display: inline-block;
padding-left: 1.5em;
padding-top: 1em;
}

.logo-copyright {
  display: inline-block;
  color: var(--back);
  padding-left: 1.5em;
}

/*.right-side {
  padding-left: 10em;
  padding-right: 1.5em;
}*/

/*******************************
SPECIFIC CLASSES
*******************************/
.site-head, site-main, site-footer {

}
.site-head {
  background-color: var(--fore);
}

.site-main {
  background-color: var(--back);
}

.site-footer {
  background-color: var(--fore);
  max-width: 100%;
}

